.App {
  text-align: center;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  background: linear-gradient(to right, #007078, #030b48);
}

.body-style {
  height: 100vh;
  margin: 0;
  font-size: 1rem;
  font-weight: normal;
  font-weight: initial;
  line-height: 1.5;
  color: #333; 
  -webkit-font-smoothing: antialiased;
  background-color: #F2F2F2;
  overflow: hidden;
  font-family: "Roboto",sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

/* Old Button styles... */
/* Nav {
  width:100vw;
  background-color:aquamarine;
} */
Nav > ul {
  list-style:none;
  display:flex;
  direction: ltr;
  flex-direction: row;
  padding-right: 3em;
  justify-content: space-between;
}

/* 
** Start Carousel Styling 
*/
.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color:#2a9d8f;
  box-shadow: 5px;
  border-radius: 25%;
}

.crsl-cont {
  height:60vh;
  width:60vh;
  margin: auto;
  /* width: 50%; */
  padding: 10px;
} 

.tab-grp .nav-item .nav-link {
  color: #14b995;
}

/* Change the background color of the active tab */
.tab-grp .nav-item .nav-link.active {
  background: radial-gradient(circle, rgb(1, 77, 83), rgb(28, 128, 128));
  border-color: rgb(24, 116, 39);
  color: rgb(84, 206, 92);
}

/* Clears tab spacing */
.nav.nav-tabs.tab-grp {
  border-bottom: solid 0.1em rgb(47, 220, 255) !important;
  /* border-bottom: none !important; */
}
/* Removes/edits the tab borders (onhover) */
/* .nav.nav-tabs.tab-grp .nav-link {
  border: none !important;
} */


.crsl-cont img {
  height:60vh;
  width:60vh;
}

.Carousel.Caption > h3 {
  font-size:0.5em;
}

.cap-text-cont {
  background-color:#2a9d8f;
  opacity: 70%;
  border-radius: 1em;
}

/* 
** End Carousel Styling 
*/


.btn-container {
  justify-content: space-evenly;
}

Button {
  width:calc(1/4*100vw);
}

footer {
  width:100vw;
}

.hint {
  color:#76af75;
  font-style: italic;
  margin-top:1em;
}
/* Used in AboutMe*/
.BodyText {
  padding: 2em;
  max-width:70vw;
  height:80vh;
  /* color:#264653; */
  color:#38a3a5;
  display:inline-flexbox;
  flex-wrap: wrap;
  margin:auto;
  margin-top:1em;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* text-shadow: 0.3em 0.15em 0.5em black; */
  /* border: 0.4em solid black;
  box-shadow: 5px 10px #888888; */
}

/* Used in Projects and Contact*/
.BodyText2 {
  padding: 2em;
  max-width:50wv;
  color:#38a3a5;
  display:inline-flexbox;
  flex-wrap: wrap;
  margin:auto;
  /* margin-top:1em; */
  margin:4vh 10vw 0 10vw;
  text-align: justify;
  text-justify: inter-word;
  font-size: 1em;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  /* border: 0.2em solid rgb(15, 0, 64); */
  border-radius: 1.5em;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom, #718989, #060458);
}


.Footer {
  position: fixed;
  bottom: 1px;
  margin:auto;
  left:calc(50% - 11.5em);
  color:#2a9d8f;
}

.pfp {
  clip-path: circle();
  border-radius: 100%;
  /* left:200px; */
  float:left;
  shape-outside:url("./components/imgs/pfp.png");
  shape-outside:margin-box;
  shape-margin: 10px;
  display: block;
  box-shadow: -2px 5px #d1fae5;
  width: 30vh;
  height: 30vh;
}

.center
{
  text-align: center;
}

p > a {
  color:#94e892;
}

a:hover{
  color:#28fbff;
}
p {
  margin:10px;
}

form button {
  border: 1px solid black;
}

form button:hover {
  background-color: #2a9d8f;
}

input[type=text], input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.flex {
  display: flex;
}

.flex Button {
  width:5vw;
  margin-right:1em;
  background-color: #38a3a5;
  border:#264653;
}

.buttons {
  width: 150px;
  display: flex;
  padding-top:12px;
  padding-right:10px;
}

.tab-content {
  height: 100%;
}

.tabpanel {
  height: 100%;

}

h2 {
  padding-left:1em;
  padding-top:0.5em;
}